{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@models": "./src/models",
          "@redux": "./src/redux",
          "@services": "./src/services",
          "@navigation": "./src/navigation",
          "@hocs": "./src/hocs"
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
